* {
  // color: black;
  // font-family: 'Varela';
  // border: 1px solid red;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.container {
  width: 100%;
}
svg {
  padding: 0px;
  margin: 0px;
}
#navcontainer {
  background-color: black;
  width: 100%;
}
#chartTitle {
  color: black;
  font-family: 'Lato', sans-serif;
  float: center;
  margin: 10px
}

.view-menu {
  display: inline;
  padding: 5px;
  font-style: italic;
  // background-color: white;
  margin: 10px;
}
.span8 {
  // width: 70%;
  display: inline-flex;
}
.span4 {
  display: inline-flex;
}
#chart {
  display: inline;
}
.nvtooltip * {
  font-size: 11px;
}
h2 {
  font-size: 15px;
  font-weight: bold;
}
#dau-chart {
  // width: 70%;
  display: inline;
}
#retention-chart {
  // width: 70%;
  display: inline;
}
#details {
  background-color: gray;
  // color: white;
  margin-right: -20px;
}
.nvd3-bullet-chart1 * {
  float: left;
}
.nvd3-bar-chart1 * {
  float: left;
}
.nvd3-pie-chart1 * {
  float: left;
}
svg {
  float: left
  display: inline
  // width: 100%
}
h2 {
  font-family: 'Lato', sans-serif;
  text-align: center
}
