* {
  color: #428bca
  font-family: 'Varela';
}

#navcontainer {
  background-color: black;
  width: 100%
}
#chartTitle {
  color: #428bca
  font-family: 'Varela';
  float: center;
  margin: 10px
}
.view-menu {
  // position:relative;
  display: inline;
  padding: 5px
  font-style: italic;
  background-color: white;
  margin: 10px;
  // width:100px;
}
#chart {
  margin-left: 20px;
}
.nvtooltip * {
  font-size: 11px;
}
h2 {
  font-size: 15px;
}
.col-md-6 {
    width: 50%;
    float: left;
    display: inline;
    border: 1px solid blue;
}
.nvd3-bullet-chart1 {
  background-color: gray;
  padding: 10px;
  display: inline;
  width: 50%
}
.nvd3-pie-chart1 {
  background-color: gray;
  padding: 10px;
  display: inline;
  width: 25%
}
#line-dau {
  width: 60%
  display: inline
}
#line-r {
  width: 60%
  display: inline
}
.container.ng-scope {

}
