* {
  color: #428bca
  font-family: 'Varela';
  border: 1px solid red;
}

.container {
  width: 100%;
}

#navcontainer {
  background-color: black;
  width: 100%;
}
#chartTitle {
  color: #428bca;
  font-family: 'Varela';
  float: center;
  margin: 10px
}
.view-menu {
  display: inline;
  padding: 5px;
  font-style: italic;
  background-color: white;
  margin: 10px;
}
.span8 {
  // width: 70%;
  display: inline-flex;
}
.span4 {
  display: inline-flex;
}
#chart {
  display: inline;
}
.nvtooltip * {
  font-size: 11px;
}
h2 {
  font-size: 15px;
}
#dau-chart {
  // width: 70%;
  display: inline;
}
#retention-chart {
  // width: 70%;
  display: inline;
}
// .nvd3-bullet-chart1 {
//   // background-color: gray;
//   padding: 10px;
//   display: inline;
//   // width: 95%
// }
// .nvd3-bar-chart1 {
//   // background-color: gray;
//   padding: 10px;
//   display: inline;
//   // width: 55%;
// }
// .nvd3-pie-chart1 {
//   // background-color: gray;
//   padding: 10px;
//   display: inline;
//   // width: 40%;
// }
svg {
  width: 100%
}
