<div class="container" ng-controller="allDataCtrl">
    <h1 id="chartTitle">App Usage</h1>
    <h2 id="chartSubtitle">8/2013 - 9/2014</h2>
    <h2 id="chartSubtitle">DAU by {{filterOptions.selectedFilter}}</h2>

    <form class="form-inline">
        <div id="floating-menu">View by...
            <div class="row radio-inline" ng-repeat="filter in filterOptions.filters">
                <input id="radio" type="radio" ng-model="filterOptions.selectedFilter" ng-value="filter" name="filter">
                <label class="radio-inline" for="{{filter}}">{{filter}}
                </label>
            </div>
        </div>
    </form>

    <div id="chart" data="subsetVals" id="exampleId" showXAxis="true" showYAxis="true" width="750" height="400" viewbox="1000">
        <svg></svg>
    </div>
</div>
